* {
	text-decoration: none;
}

body {
	width: 500px;
	height: 400px;
	overflow-y: scroll;
}

.tabs {
	width: 100%;
}

.tabs ul {
	list-style-type: none;
	border-bottom: 3px solid #222;
	padding: 0;
}

.tabs ul li {
	display: inline-block;
	text-align: center;
	padding: 10px 15px;
	font-weight: bold;
	cursor: pointer;
}

.tabs ul li.active {
	background-color: #222;
	color: #fff;
}

.content-container .content {
	display: none;
	padding: 10px;
}

.content-container .content.active {
	display: block;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

label.inline {
	margin-bottom: 0;
	display: inline-block;
}

input[type='text'] {
	border: 1px solid #222;
	border-radius: 5px;
	padding: 5px;
	transition: box-shadow .3s, border .3s;
	height: 30px;
	margin-right: 10px;
	display: inline-block;
}

input:focus {
	outline: none;
	box-shadow: 0 0 3px 0 #4285f4;
	border: 1px solid #999;
}

a.button {
	display: inline-block;
	text-align: center;
	background-color: #4285f4;
	color: #fff;
	padding: 6px 10px 8px;
	border-radius: 5px;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, .75);
	position: absolute;
	top: 0;
	display: none;
}

.overlay .spinner {
	margin: 50px auto;
	animation: spin 1s infinite;
	width: 50px;
	height: 50px;
}

.overlay .spinner img {
	width: 50px;
	height: 50px;
}

#login h2 {
	text-align: center;
	margin-top: 10px;
}

#login p {
	text-align: center;
	margin-bottom: 25px;
}

#login small a {
	font-weight: bold;
	text-decoration: underline;
}

#login .content {
	margin: 30px auto;
	width: 70%;
	height: 70%;
	background-color: #fff;
	box-shadow: 3px 3px 8px 0 rgba(0,0,0,.6);
	padding: 10px;
	border-left: 5px solid #4285f4;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
