* {
	text-decoration: none;
	font-family: 'Open Sans';
}

body {
	width: 500px;
	height: 400px;
	overflow-y: scroll;
}

.tabs {
	width: 80%;
	display: inline-block;
}

.tabs ul {
	list-style-type: none;
	padding: 0;
	position: relative;
}

.tabs ul li {
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
	width: 90px;
	color: #aeaeae;
	transition: color .4s;
}

.tabs ul li.underline {
	display: inline-block;
	position: absolute;
	transition: all .5s;
	height: 3px;
	background: #4285f4;
	left: 0;
	bottom: 0;
	padding: 0;
}

.tabs ul li.active {
	color: #2b2b2b;
}

.content-container .content {
	display: none;
	padding: 10px;
}

.content-container .content.active {
	display: block;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type='checkbox'] {
  display: none;
}

.checkbox {
  position: relative;
  padding-left: 40px;
  padding: 2px 0 0 30px;
  -webkit-user-select: none;
  user-select: none;
  font-weight: bold;
}

.checkbox::before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #4285f4;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .15s;
}

[type='checkbox']:checked + label::before {
  background-color: #4285f4;
}

.checkbox::after {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  left: 4px;
	top: 4px;
  color: #fff;
}

input[type='text'] {
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 5px;
	transition: box-shadow .3s, border .3s;
	height: 30px;
	margin-right: 10px;
	display: inline-block;
}

input:focus {
	outline: none;
	box-shadow: 0 0 3px 0 #4285f4;
	border: 1px solid #ccc;
}

a.button {
	display: inline-block;
	text-align: center;
	background-color: #4285f4;
	color: #fff;
	padding: 6px 16px;
	border-radius: 5px;
	position: relative;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 12px;
}

a.button .fa-spin {
	position: absolute;
	font-size: 20px;
	left: calc(50% - 12px);
	top:0;
	line-height: 30px;
	display: none;
	color: #fff;
}

a.button.active {
	color: #4285f4;
}

a.button.active .fa-spin {
	display: block;
}

a.button.green {
	background-color: #5cb85c;
}

a.button.green.active {
	color: #5cb85c;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, .75);
	position: absolute;
	top: 0;
	display: none;
}

.overlay h2 {
	text-align: center;
	margin-top: 10px;
}

.overlay p {
	margin-bottom: 15px;
}

.overlay small a {
	font-weight: bold;
	text-decoration: underline;
}

.overlay .content {
	margin: 30px auto;
	width: 70%;
	height: 70%;
	background-color: #fff;
	box-shadow: 3px 3px 8px 0 rgba(0,0,0,.6);
	padding: 10px;
	border-left: 5px solid #4285f4;
}

#settings .content {
	position: relative;
	padding-top: 40px;
}

#settings .fa-times {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	padding: 10px;
}

a.button.icon {
	width: 24px;
	height: 24px;
	font-size: 20px;
	margin-top: 12px;
}

a.button.icon .fa {
	line-height: 26px;
}

#openSettings {
	float: right;
}

table {
	width: 100%;
}

table th {
	padding: 5px;
	background-color: #fbe700;
}

table td {
	text-align: center;
	padding: 10px;
	font-size: 13px;
}

table td.header {
	font-weight: bold;
	font-size: 18px;
	background-color: #2b2b2b;
	color: #aeaeae;
}

table td.sub-header {
	font-size: 16px;
	font-weight: 300;
	border-radius: 0 0 4px 4px;
}

p.timestamp {
	display: inline-block;
	float:right;
	margin-top: 6px;
}

/* Time Entry Styles */

#tasks .button {
	margin-top: 10px;
}

input[type='text'].error {
	border: 1px solid red;
}

input[type='text'].error:focus {
	box-shadow: 0 0 3px 0 #rgba(255,0,0,.8);
}

#invalidDate {
	color: red;
	display: none;
}

a.button.time-entry {
	white-space: nowrap;
	transition: .1s all;
}

a.button.time-entry .fa {
	position: absolute;
	font-size: 20px;
	left: calc(50% - 12px);
	top:0;
	line-height: 30px;
	display: none;
	color: #fff;
}

a.button.time-entry.active {
	background-color: #00C851;
	color: #00C851;
}

a.button.time-entry.active .fa {
	display: block;
}

#tasks table {
	margin-top: 50px;
}

#tasks table tr.total {
	font-weight: bold;
}
